<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planery DOB Image</title>
</head>
<body>
    <form action="/DOB" method="post">
        <label for="Start_DOB">Start date: </label>
        <input type="date" name="Start_DOB">

        <input type="submit" Value="Get Image">
    </form>
</body>
</html>