<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astroid</title>
</head>
<body>
    <form action="/Astroid" method="post">
        <label for="astroid_start_date">Start date: </label>
        <input type="date" name="astroid_start_date">
        <label for="astroid_end_date">End date: </label>
        <input type="date" name="astroid_end_date">
        <input type="submit" Value="Get Data">
    </form>

</body>
</html>